<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Basic Mongoose</title>
</head>
<body>
<p>Inside of index.ejs</p>

<a href="/new">Add new Animal</a>   <br><br>
<% for (var x in results) { %>
<%= results[x].name  %>
<%= results[x].color %>
<%= results[x].weight %> <a href="/<%= results[x]._id %>/edit">edit animal</a> <a href="/<%= results[x]._id %>/delete">Delete</a><br>
<% } %>




</body>
</html>